@mixin medium {
  @media(min-width: 768px) {
    @content;
  }
}


@mixin large {
  @media(min-width: 1366px) {
    @content;
  }
}

@font-face {
  font-family: "Ailerons";
  src: url("../assets/Ailerons-Regular.woff2") format("woff2"),
         url("../assets/Ailerons-Regular.woff") format("woff");
 }

 @font-face {
  font-family: "Abel";
  src: url("../assets/Abel-Regular.woff2") format("woff2"),
         url("../assets/Abel-Regular.woff") format("woff");
 }

 
.title {
  display: flex;
  justify-content: center;

  &__text {
    font-size: 26px;
    font-family: arial;
    padding: 20px;
    font-family: 'Ailerons';

    @include medium {
      font-size: 48px;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;

  &__model {
    text-decoration: none;
    font-family: 'Abel';
    font-size: 22px;
    color: black;
    padding: 16px;

    @include medium {
      font-size: 32px;
      padding: 48px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.southKorea.visible {

}

.product {
  display: flex;
  justify-content: center;
}

.perspective {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__choice {
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 16px;

    @include medium {
      height: 30px;
      margin: 24px;
    }
  }
}

.yourBag {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 18px;
    font-family: 'Abel';
    padding-top: 24px;

   @include medium {
     font-size: 28px;
   }
  }
  &__price {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Abel';
    padding: 16px;

    @include medium {
      font-size: 32px;
    }
  }
}

.personnalize {
  margin-top: 24px;
  display: flex;
  flex-direction:column;
  align-items: center;

  &__bagPart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__materials {
    height: 50px;
  }
  &__img {
    width: 60px;
    padding: 0 40px 24px 0;

    @include medium {
      width: 80px;
      padding: 0 80px 24px 0;
    }
  }
  &__material1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../assets/linen.jpg);
    margin-right: 16px;
    position: relative;

    @include medium {
      margin-right: 24px;
      width: 60px;
      height: 60px;
    }

    &::before {
      content: "Linen";
      font-size: 18px;
      font-family: 'Abel';
      position: absolute;
      top: -25px;
      left: 5px;
    }
  }
  &__material2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../assets/black-plastic.jpg);
    margin-left: 16px;
    position: relative;

    @include medium {
      margin-left: 24px;
      width: 60px;
      height: 60px;
    }
    
    &::after {
      content: "Plastic";
      font-size: 18px;
      font-family: 'Abel';
      position: absolute;
      top: -25px;
      left: 5px;
    }
   
  }
  
}

.personnalize__material1--silk {
  background-image: url(../assets/silk.jpg);
}

.personnalize__material1--murshroom {
  background-image: url(../assets/mushroomleather.png);
}

.information {
  padding: 40px;
  display: flex;
  justify-content: center;
  

  @include medium {
  margin-bottom: 40px;
  margin-top: 16px;
  }
  &__text {
    font-family: 'Abel';
    font-size: 18px;
    color: #3e3e3e;
    line-height: 18px;

    @include medium {
      font-size: 28px;
      line-height: 28px;
      text-align: center;
    }
  }
}

.preOrder {
  background-color: white;
  margin: 20px 40px 40px 40px;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input[name=email] {
    padding: 8px 80px 8px 16px;
    border-style: none none solid none;
    border-color: #3e3e3e;

    &::placeholder {
      font-size: 16px;
      font-family: 'Abel';

      @include medium {
        font-size: 26px;
        overflow: visible;
      }
    }
  }
  &__label {
    font-family: 'Abel';
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 16px;

    @include medium {
      font-size: 28px;
    }
  }
  &__submit {
    font-size: 18px;
    font-family: 'Abel';
    font-weight: bold;
    color: white;
    background-color: black;
    border-color: black;
    padding: 8px 12px 8px 12px;
    margin-top: 16px;

    @include medium {
      font-size: 28px;
    }
  }
}

.footerPerso {
  background-color: black;

  &__title {
    color: white;
    font-size: 22px;
    font-family: 'Abel';
    text-align: center;
    padding-top: 24px;
  }
  &__titleArticle {
    color: white;
    font-family: 'Abel';
    padding: 16px;
    font-size: 20px;

  }
  &__textArticle {
    color: white;
    font-family: 'Abel';
    text-align: center;
    line-height: 18px;
    font-size: 18px;
  }
  &__socialMedia {
    background-color: white;
  }
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  &__label {
    color: white;
    font-family: 'Abel';
    padding: 16px;
    font-size: 18px;
  }
  &__submit {
    padding: 4px;
    margin-top: 16px;
    font-family: 'Abel';
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border-color: black;
    color: white;
    
  }
  &__input[name=email] {
    padding: 8px 40px 8px 12px;
    background-color: black;
    border-style: none none solid none;
    border-color: white;
    color: white;
  }
  &__socialMedia {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
  }
}

.countries {
  position: relative;
  display: flex;
  width: 100vw;
  height: 140vh;

  @include medium {
    height: 170vh;
  }
  
  // .visible {
  //   visibility: visible;
  //   position: static;
  //   opacity: 1;
  //   transform: translateY(0);
  // }
 
}
.france {
  transform: translateY(1000px);
  visibility: hidden;
  position: absolute;
 
}
.southKorea{
  transform: translateY(1000px);
  visibility: hidden;
  position: absolute;
}
.italy{
  transform: translateY(1000px);
  visibility: hidden;
  position: absolute;
}

.france.visible{
  visibility: visible;
    position: static;
    opacity: 1;
    transform: translateY(0);
}

.southKorea.visible{
  visibility: visible;
    position: static;
    opacity: 1;
    transform: translateY(0);
}

.italy.visible{
  visibility: visible;
    position: static;
    opacity: 1;
    transform: translateY(0);
}

body, html {
  overflow-x: hidden;
}