@import 'reset';
@import 'perso';

.header {

  position: relative;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background: url(./css/img/seoul1.png) no-repeat;
  background-size: cover;
  color: white;
}